<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCNR</title>
    <link rel="stylesheet" href="{{ url_for("static", filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for("static", filename='favicon.ico') }}">
</head>
<body>
    <div class="center" style="height: 90vh;">
        <div class="center">
            <h1 style="margin: 0; font-family: 'Kremlin'; color: red;">
                MINECRAFT NO RULES
            </h1>
            <br><br>
            <p>mcnr.xyz - 26.1.2</p>
        </div>
        <div class="center" style="margin-top: 5vh;">
            <div>
                <a href={{ url_for("desc") }} style="color: lightgreen;">&gt; описание</a>
                <br><br>
                <a href={{ url_for("stats") }} style="color: lightgreen;">&gt; статистика сервера</a>
                <br><br>
                <a href={{ url_for("api") }} style="color: lightgreen;">&gt; API</a>
            </div>
        </div>
    </div>
    <p align="center">
        <a href="https://t.me/mcnrxyz" style="color: #24A1DE;">TELEGRAM</a>
        -
        <a href="https://github.com/ZimnyCat/MCNR" style="color: purple;">GITHUB</a>
        -
        <a href="https://minecraftrating.ru/promote/74060/#buy-rating" style="color: green;">SUPPORT</a>
    </p>
</body>
</html>
